/.phpunit.cache
/bootstrap/ssr
/node_modules
/.pnpm-store
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.DS_Store
.env
.env.backup
.env.production
.env.*.local
*.pem
*.key
/storage/app/private/*
!/storage/app/private/.gitignore
/storage/logs/*.log
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
